# Logs
logs
*.log
FRONTEND/npm-debug.log*
FRONTEND/yarn-debug.log*
FRONTEND/yarn-error.log*
FRONTEND/pnpm-debug.log*
FRONTEND/lerna-debug.log*
node_modules/
FRONTEND/node_modules
FRONTEND/dist
FRONTEND/dist-ssr
FRONTEND/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

BACKEND/node_modules
BACKEND/.env